@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

.main {
  width: 1226px;
  height: 980px;
  margin: 0 auto; }

.TopMenu {
  height: 40px;
  width: 100%;
  background-color: #333333;
  position: absolute;
  top: 0;
  left: 0; }
  .TopMenu .TopMenuContain {
    width: 1226px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    margin: 0 auto; }
    .TopMenu .TopMenuContain span a {
      text-decoration: none;
      color: #b0b0b0;
      padding-left: 2px;
      padding-right: 2px; }
      .TopMenu .TopMenuContain span a:hover {
        color: white; }
    .TopMenu .TopMenuContain .TopMenuRight {
      float: right; }
      .TopMenu .TopMenuContain .TopMenuRight .cart {
        margin-left: 20px;
        height: 40px;
        width: 120px;
        color: #b0b0b0;
        background-color: #424242;
        float: right;
        text-align: center;
        font-size: 14px; }
        .TopMenu .TopMenuContain .TopMenuRight .cart:hover {
          background-color: white;
          color: #ff6700; }
        .TopMenu .TopMenuContain .TopMenuRight .cart img {
          width: 20px; }
        .TopMenu .TopMenuContain .TopMenuRight .cart .cartMain {
          display: none;
          width: 300px;
          height: 100px;
          position: relative;
          left: -180px;
          box-shadow: 0 0 10px gray;
          line-height: 100px;
          color: #424242;
          background-color: #ffffff;
          z-index: 1111; }

.logoMenu {
  width: 100%;
  height: 100px;
  position: relative;
  top: 40px; }
  .logoMenu .logoMenuLeft {
    width: 60px;
    height: 100px;
    float: left; }
    .logoMenu .logoMenuLeft img {
      position: relative;
      top: 50%;
      margin-top: -29px; }
  .logoMenu .logoMenuCenter {
    width: 860px;
    height: 100px;
    float: left; }
    .logoMenu .logoMenuCenter ul {
      float: right;
      margin-right: 70px;
      list-style: none;
      height: 100px;
      line-height: 100px; }
      .logoMenu .logoMenuCenter ul li {
        float: left;
        font-size: 16px;
        text-align: center; }
        .logoMenu .logoMenuCenter ul li a {
          padding-left: 10px;
          padding-right: 10px;
          text-decoration: none;
          color: #424242; }
          .logoMenu .logoMenuCenter ul li a:hover {
            color: #ff6700; }
  .logoMenu .logoMenuRight {
    width: 301px;
    height: 100px;
    float: right; }
    .logoMenu .logoMenuRight label {
      height: 100px;
      float: right; }
    .logoMenu .logoMenuRight .search {
      width: 245px;
      height: 50px;
      border: 1px solid #E0E0E0;
      position: relative;
      top: 25px;
      float: right; }
    .logoMenu .logoMenuRight .searchSub {
      width: 50px;
      height: 50px;
      border: 1px solid #E0E0E0;
      background-color: #ffffff;
      position: relative;
      top: 25px;
      float: right;
      font-size: 18px;
      color: #616161; }
      .logoMenu .logoMenuRight .searchSub:hover {
        transition: background-color 0.5s;
        background-color: #ff6700;
        color: #ffffff; }

.MainMenu {
  position: relative;
  top: 40px;
  width: 100%;
  height: 460px; }
  .MainMenu .MainMenuRight {
    width: 236px;
    height: 100%;
    position: absolute;
    z-index: 1111;
    background-color: rgba(76, 88, 94, 0.6); }
    .MainMenu .MainMenuRight ul {
      list-style: none;
      position: relative;
      top: 50%;
      margin-top: -210px; }
      .MainMenu .MainMenuRight ul li {
        color: #ffffff;
        padding-left: 30px;
        height: 42px;
        line-height: 42px;
        cursor: default; }
        .MainMenu .MainMenuRight ul li span {
          float: right;
          margin-right: 20px; }
          .MainMenu .MainMenuRight ul li span i {
            color: #bfc6c8; }
        .MainMenu .MainMenuRight ul li:hover {
          background-color: #ff6700; }
        .MainMenu .MainMenuRight ul li .MenuCenter {
          display: none;
          position: absolute;
          z-index: 111;
          left: 236px;
          top: -18px;
          width: 988px;
          height: 458px;
          background-color: #ffffff;
          box-shadow: 5px 5px 10px #a9a9a9;
          color: #000000; }
  .MainMenu .slider {
    overflow: hidden;
    float: left;
    width: 100%;
    height: 470px;
    position: relative; }
    .MainMenu .slider li {
      position: absolute;
      display: none; }
      .MainMenu .slider li:first-child {
        display: block; }
      .MainMenu .slider li img {
        width: 100%; }
    .MainMenu .slider .arrow {
      display: block; }
      .MainMenu .slider .arrow .arrow-left,
      .MainMenu .slider .arrow .arrow-right {
        font-family: "SimSun", "瀹嬩綋", sans-serif;
        width: 30px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50%;
        margin-top: -30px;
        cursor: pointer;
        text-align: center;
        line-height: 60px;
        color: #fff;
        font-weight: 700;
        font-size: 30px; }
        .MainMenu .slider .arrow .arrow-left:hover,
        .MainMenu .slider .arrow .arrow-right:hover {
          background-color: rgba(0, 0, 0, 0.6); }
      .MainMenu .slider .arrow .arrow-left {
        left: 236px; }
      .MainMenu .slider .arrow .arrow-right {
        right: 0; }
    .MainMenu .slider:hover {
      display: block; }

.TopList {
  width: 100%;
  height: 170px;
  position: relative;
  top: 45px;
  float: left; }
  .TopList .TopListLeft {
    width: 236px;
    height: 170px;
    float: left; }
    .TopList .TopListLeft ul {
      list-style: none; }
      .TopList .TopListLeft ul li {
        width: 78px;
        height: 85px;
        float: left;
        text-align: center;
        background-color: #5f5750;
        padding-top: 20px;
        font-weight: 500; }
        .TopList .TopListLeft ul li a {
          text-decoration: none;
          color: #cfcdcb; }
          .TopList .TopListLeft ul li a:hover {
            color: white;
            transition: color 500ms; }
        .TopList .TopListLeft ul li p {
          font-size: 13px; }
        .TopList .TopListLeft ul li img {
          width: 26px; }
  .TopList .TopListColumn {
    width: 316px;
    height: 170px;
    margin-left: 12px;
    float: right; }
    .TopList .TopListColumn img {
      width: 100%; }

.banner {
  width: 100%;
  height: 120px;
  float: left;
  position: relative;
  top: 84px; }
  .banner img {
    float: left;
    width: 100%; }

.mainContain {
  width: 100%;
  position: absolute;
  background-color: #e2e2e2; }
  .mainContain .phone {
    width: 1226px;
    margin: 0 auto;
    background-color: #e2e2e2; }
    .mainContain .phone .phoneTop {
      width: 100%;
      height: 80px;
      line-height: 90px;
      font-size: 20px; }
    .mainContain .phone .phoneContain {
      height: 615px;
      width: 100%; }
      .mainContain .phone .phoneContain .phoneLeft {
        width: 235px;
        height: 100%;
        float: left; }
        .mainContain .phone .phoneContain .phoneLeft img {
          width: 100%; }
      .mainContain .phone .phoneContain .phoneMain {
        height: 100%;
        width: 986px;
        position: relative;
        top: -10px;
        float: right; }
        .mainContain .phone .phoneContain .phoneMain ul {
          list-style: none; }
          .mainContain .phone .phoneContain .phoneMain ul li {
            width: 236px;
            height: 300px;
            background-color: #ffffff;
            float: right;
            text-align: center;
            padding-top: 40px;
            margin-left: 10px;
            margin-bottom: 14px; }
            .mainContain .phone .phoneContain .phoneMain ul li img {
              width: 140px; }
            .mainContain .phone .phoneContain .phoneMain ul li a {
              text-decoration: none; }
            .mainContain .phone .phoneContain .phoneMain ul li:hover {
              position: relative;
              top: -5px;
              transition: 0.5s;
              box-shadow: 5px 5px 10px #a9a9a9; }
  .mainContain .Phonetxt1 {
    color: #3c3c3c;
    margin-top: 20px; }
  .mainContain .Phonetxt2 {
    color: #a9a9a9;
    margin-top: -5px; }
  .mainContain .jiadian {
    width: 1226px;
    margin: 0 auto;
    background-color: #e2e2e2; }
    .mainContain .jiadian .banner2 img {
      width: 100%;
      padding-top: 40px;
      padding-bottom: 20px; }
    .mainContain .jiadian .jiadianBody {
      height: 700px;
      width: 100%; }
      .mainContain .jiadian .jiadianBody .jiadianTop {
        height: 60px;
        line-height: 60px; }
        .mainContain .jiadian .jiadianBody .jiadianTop .TopTxt1 {
          font-size: 20px; }
        .mainContain .jiadian .jiadianBody .jiadianTop .TopTxt2 {
          float: right;
          font-size: 18px; }
          .mainContain .jiadian .jiadianBody .jiadianTop .TopTxt2 span {
            padding-left: 26px; }
            .mainContain .jiadian .jiadianBody .jiadianTop .TopTxt2 span a {
              text-decoration: none;
              color: #3c3c3c;
              padding-bottom: 5px; }
              .mainContain .jiadian .jiadianBody .jiadianTop .TopTxt2 span a:hover {
                color: #ff6700;
                border-bottom: 2px solid #ff6700; }
      .mainContain .jiadian .jiadianBody .jiadianLeft {
        width: 235px;
        height: 614px;
        float: left; }
        .mainContain .jiadian .jiadianBody .jiadianLeft .jiadianLeftimg {
          height: 300px;
          width: 100%; }
          .mainContain .jiadian .jiadianBody .jiadianLeft .jiadianLeftimg img {
            width: 100%; }
      .mainContain .jiadian .jiadianBody .jiadianMain {
        width: 983px;
        height: 614px;
        float: right; }
        .mainContain .jiadian .jiadianBody .jiadianMain ul {
          list-style: none; }
          .mainContain .jiadian .jiadianBody .jiadianMain ul li {
            width: 235px;
            height: 300px;
            background-color: #ffffff;
            float: right;
            text-align: center;
            padding-top: 40px;
            margin-left: 10px;
            margin-bottom: 14px; }
            .mainContain .jiadian .jiadianBody .jiadianMain ul li img {
              width: 140px; }
            .mainContain .jiadian .jiadianBody .jiadianMain ul li a {
              text-decoration: none; }
            .mainContain .jiadian .jiadianBody .jiadianMain ul li:hover {
              position: relative;
              top: -5px;
              transition: 0.3s;
              box-shadow: 5px 5px 10px #a9a9a9; }
  .mainContain .EndList {
    float: right;
    width: 245px; }
    .mainContain .EndList h5 {
      margin-left: -100px;
      color: #3c3c3c; }
    .mainContain .EndList h3 {
      margin-left: -90px;
      font-size: 20px;
      color: #3c3c3c; }
    .mainContain .EndList h4 {
      margin-left: -140px;
      font-size: 14px;
      color: #a9a9a9; }
    .mainContain .EndList p {
      margin-left: -120px;
      color: #ff6700; }
    .mainContain .EndList div {
      float: right;
      margin-top: -100px; }
      .mainContain .EndList div img {
        margin-top: 20px;
        margin-right: 20px; }
  .mainContain .banner3 {
    padding-top: 22px;
    padding-bottom: 30px; }
    .mainContain .banner3 img {
      width: 100%; }
  .mainContain .icon1 {
    font-size: 60px;
    color: #ff6700;
    margin-top: 30px;
    margin-right: 50px; }
  .mainContain .hiddenDiv {
    display: none;
    width: 100%;
    height: 75px;
    background-color: #ff6700;
    position: relative;
    margin-top: -60px; }
    .mainContain .hiddenDiv p {
      color: #ffffff; }

/*# sourceMappingURL=main.css.map */
