*{
  padding: 0;
  margin: 0;
}
$ft:20px;

.main{
  width: 1200px;
  height: 1200px;
  border: 1px solid red;
  margin: 0 auto;
}
.TopMenu{
  height: 40px;
  width: 100%;
  background-color: rgba(51,51,51,1);
  position: absolute;
  top: 0;
  left: 0;
}
.TopMenuContain{
  width: 1200px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  margin: 0 auto;
  border: 1px solid orange;
  span{
    a{
      text-decoration: none;
      color: rgba(176,176,176,1);
      padding:{
        left: 2px;
        right: 2px;
      }
    }
  }
}