*{
  padding: 0;
  margin: 0;
}
$ft:20px;

.main{
  width: 1226px;
  height: 980px;
  border: 1px solid red;
  margin: 0 auto;
}
.TopMenu{
  height: 40px;
  width: 100%;
  background-color: rgba(51,51,51,1);
  position: absolute;
  top: 0;
  left: 0;
  .TopMenuContain{
    width: 1226px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    margin: 0 auto;
    span{
      a{
        text-decoration: none;
        color: rgba(176,176,176,1);
        padding:{
          left: 2px;
          right: 2px;
        }
        &:hover{
          color: white;
        }
      }
    }
    .TopMenuRight{
      float: right;
      .cart{
        margin-left: 20px;
        height: 40px;
        width: 120px;
        color: rgba(176,176,176,1);
        background-color: rgba(66,66,66,1);
        float: right;
        text-align: center;
        font-size: 14px;
        &:hover{
          background-color: rgba(255,255,255,1);
          color: rgba(255,103,0,1);
        }
        img{
          width: 20px;
        }
        .cartMain{
          display: none;
          width: 300px;
          height: 100px;
          position: relative;
          left: -180px;
          box-shadow: 0 0 10px gray;
          line-height: 100px;
          color: rgba(66,66,66,1);
          background-color: #ffffff;
          z-index: 1111;
        }

      }
    }
  }
}

.logoMenu{
  width: 100%;
  height: 100px;
  position: relative;
  top: 40px;
  .logoMenuLeft{
    width: 60px;
    height: 100px;
    float: left;
    img{
      position: relative;
      top: 50%;
      margin-top: -29px;
    }
  }
  .logoMenuCenter{
    width: 860px;
    height: 100px;
    float: left;
    ul{
      float: right;
      margin-right: 70px;
      list-style: none;
      height: 100px;
      line-height: 100px;
      li{
        float: left;
        font-size: 16px;
        text-align: center;
        a{
          padding:{
            left: 10px;
            right: 10px;
          }
          text-decoration: none;
          color: rgba(66,66,66,1);
          &:hover{
            color: rgba(255,103,0,1);
          }
        }
      }
    }
  }
  .logoMenuRight{
    width:301px;
    height: 100px;
    float: right;
    label{
      height: 100px;
      float: right;
    }
    .search{
      width: 245px;
      height: 50px;
      border: 1px solid #E0E0E0;
      position: relative;
      top: 25px;
      float: right;
    }
    .searchSub{
      width: 50px;
      height: 50px;
      border: 1px solid #E0E0E0;
      background-color: #ffffff;
      position: relative;
      top: 25px;
      float: right;
      font-size: 18px;
      color: rgba(97,97,97,1);
      &:hover{
        transition: background-color 0.5s;
        background-color: rgba(255,103,0,1);
        color: #ffffff;
      }
    }
  }

}

.MainMenu{
  position: relative;
  top: 40px;
  width: 100%;
  height: 460px;
  .MainMenuRight{
    width: 236px;
    height: 100%;
    position: absolute;
    z-index: 1111;
    background-color: rgba(76,88,94,0.6);
    ul{
      list-style: none;
      position: relative;
      top: 50%;
      margin-top: -210px;
      li{
        color: #ffffff;
        padding-left: 30px;
        height: 42px;
        line-height: 42px;
        cursor: default;
          span{
            float: right;
            margin-right: 20px;
            i{
              color: rgba(191,198,200,1);
            }
          }
        &:hover{
          background-color: #ff6700;
        }
        .MenuCenter{
          display: none;
          position: absolute;
          z-index: 111;
          left:236px ;
          top: -18px;
          width: 988px;
          height: 458px;
          background-color: #ffffff;
          box-shadow: 5px 5px 10px #a9a9a9;
          color: #000000;
        }
      }
    }
  }
  .slider {
    overflow: hidden;
    float: left;
    width:100%;
    height: 470px;
    position: relative;
    li {
      position: absolute;
      display: none;
      &:first-child {
        display: block;
      }
      img{
        width: 100%;
      }
    }
    .arrow {
      display: block;
      .arrow-left,
      .arrow-right {
        font-family: "SimSun", "宋体", sans-serif;
        width: 30px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50%;
        margin-top: -30px;
        cursor: pointer;
        text-align: center;
        line-height: 60px;
        color: #fff;
        font-weight: 700;
        font-size: 30px;
        &:hover{
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
      .arrow-left {
        left: 236px;
      }
      .arrow-right {
        right: 0;
      }
    }
    &:hover{
      display: block;
    }
  }
}

.TopList{
  width: 100%;
  height: 170px;
  position:  relative;
  top: 45px;float: left;
  .TopListLeft{
    width: 236px;
    height: 170px;
    float: left;
    ul{
      list-style: none;
      li{
        width: 78px;
        height: 85px;
        float: left;
        text-align: center;
        background-color: #5f5750;
        padding-top: 20px;
        font-weight: 500;
        a{
          text-decoration: none;
          color:#cfcdcb;
          &:hover{
            color: white;
            transition: color 500ms;
          }
        }
        p{
          font-size: 13px;
        }
        img{
          width: 26px;
        }
      }
    }
  }
  .TopListColumn{
    width: 316px;
    height: 170px;
    margin-left: 12px;
    float: right;
    img{
      width: 100%;
    }
  }
}
.banner{
  width: 100%;
  height: 120px;
  float: left;
  position: relative;
  top: 84px;
  img{
    float: left;
    width: 100%;
  }
}

.mainContain{
  border: 1px solid black;
  width: 100%;
  position: absolute;
  background-color: #e2e2e2;
  .phone{
    width: 1226px;
    border: 1px solid blue;
    margin: 0 auto;
    background-color: #e2e2e2;
    .phoneTop{
      width: 100%;
      height: 80px;
      line-height: 90px;
      font-size: 20px;
    }
    .phoneContain{
      height: 615px;
      width: 100%;
      .phoneLeft{
        width: 235px;
        height: 100%;
        float: left;
        img{
          width: 100%;
        }
      }
      .phoneMain{
        height: 100%;
        width: 986px;
        position: relative;
        top: -10px;
        float: right;
        ul{
          list-style: none;
          li{
            width: 236px;
            height: 300px;
            background-color: #ffffff;
            float: right;
            text-align: center;
            padding-top: 40px;
            margin-left: 10px;
            margin-bottom: 14px;
            img{
              width: 140px;
            }
            a{
              text-decoration: none;
            }
            &:hover{
              position: relative;
              top: -5px;
              transition: 0.5s;
              box-shadow: 5px 5px 10px #a9a9a9;
            }
          }
        }

      }
    }
  }
  .Phonetxt1{
    color: #3c3c3c;
    margin-top: 20px;
  }
  .Phonetxt2{
    color: #a9a9a9;
    margin-top: -5px;
  }
  .jiadian{
    border: 2px solid orange;
    width: 1226px;
    margin: 0 auto;
    background-color: #e2e2e2;
    .banner2{
      img{
        width: 100%;
        padding: {
          top: 40px;
          bottom: 20px;
        }
      }
    }
    .jiadianBody{
      border: 1px solid black;
      height: 1000px;
      width: 100%;
      .jiadianTop{
        border: 1px solid red;
        height: 60px;
        line-height: 60px;
        .TopTxt1{
          font-size: 20px;
        }
        .TopTxt2{
          float: right;
          font-size: 18px;
          span{
            padding: {
              left: 26px;
            }
            a{
              text-decoration: none;
              color: #3c3c3c;
              padding-bottom: 5px;
              &:hover{
                color: #ff6700;
                border-bottom: 2px solid #ff6700;
              }
            }
          }
        }
      }
      .jiadianLeft{
        width: 235px;
        height: 614px;
        float: left;
        .jiadianLeftimg{
          height: 300px;
          width: 100%;
          img{
            width: 100%;
          }
        }
      }
      .jiadianMain{
        border: 1px solid black;
        width: 983px;
        height: 614px;
        float: right;
        ul{
          list-style: none;
          li{
            width: 235px;
            height: 300px;
            background-color: #ffffff;
            float: right;
            text-align: center;
            padding-top: 40px;
            margin-left: 10px;
            margin-bottom: 14px;
            img{
              width: 140px;
            }
            a{
              text-decoration: none;
            }
            &:hover{
              position: relative;
              top: -5px;
              transition: 0.5s;
              box-shadow: 5px 5px 10px #a9a9a9;
            }
          }
        }
      }
    }
  }
.EndList{
  float: right;width: 245px;

    h5{
      margin-left: -100px;
      color: #3c3c3c;
    }
    h3{
      margin:{
        left: -90px;
      }
      font-size: 20px;
      color: #3c3c3c;
    }
    h4{
      margin-left: -140px;
      font-size: 14px;
      color: #a9a9a9;
    }
    p{
      margin-left: -120px;
      color: #ff6700;
    }
    div{
      float: right;
      margin-top: -100px;
      img{
        margin:{
          top: 20px;
          right: 20px;
        }
      }
    }

  }

.icon1{
  font-size: 60px;
  color: #ff6700;
  margin: {
    top: 30px;
    right: 50px;
  }
}
  .hiddenDiv{
    display: none;
    width: 100%;height: 75px;background-color: #ff6700;position: relative;margin-top: -60px;
  }
}